
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-foto {
    width: 260px;
    height: 380px;
    background: url("bcface.png");
    background-size: contain;
    border-radius: 10px 0px 0px 10px;
}

.box-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-top {
    width: 383px;
    height: 190px;

    background: #192028;
    border-radius: 0px 10px 0px 0px;
}

.box-bottom {
    width: 383px;
    height: 190px;
    top: 190px;

    background: #2B3944;
    border-radius: 0px 0px 10px 0px;
}